<ion-tabs selectedIndex="" color="secondary" *ngIf="formLanguage==0">

  <ion-tab [root]="tab1Root" tabTitle="หน้าหลัก" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="เคเบิลทีวี" tabIcon="ios-desktop"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="อินเตอร์เน็ต" tabIcon="ios-wifi"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="CCTV" tabIcon="ios-videocam-outline"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="แจ้งชำระ" tabIcon="ios-cash-outline"></ion-tab>


</ion-tabs>

<ion-tabs selectedIndex="" color="secondary" *ngIf="formLanguage==1">

    <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab5Root" tabTitle="Cabletv" tabIcon="ios-desktop"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Internet" tabIcon="ios-wifi"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="CCTV" tabIcon="ios-videocam-outline"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Payment" tabIcon="ios-cash-outline"></ion-tab>
</ion-tabs>

